{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section id="contact">
        <div class="container">
            <h1>Contactez-Nous</h1>
            <p class="title_paragraph">Avez-vous des questions ou des suggestions? N'hésitez pas à nous contacter!</p>
            <form action="">
                <label for="">Nom:</label>
                <input type="text">
                <label for="">Email:</label>
                <input type="text">
                <label for="">Choisissez un Sujet:</label>
                <select name="pets" id="pet-select">
                    <option value="">Sélectionnez un sujet</option>
                    <option value="math">Mathématiques</option>
                    <option value="science">Sciences</option>
                    <option value="litterature">Littérature</option>
                </select>
                <label for="">Sujet:</label>
                <input type="text">
                <label for="">Message:</label>
                <textarea name="" id=""></textarea>
                <input type="submit" class="btn btn-contact">
            </form>
        </div>
    </section>
{% endblock %}
